* {
  box-sizing: border-box;
}

body {
  font: 18px "Century Gothic", Futura, sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

.page-not-found {
  font-size: 30px;
  font-weight: bold;
}

.chat-page {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.chat-list {
  flex: 0 1 auto;
  width: 200px;
  float: left;
  margin: 10px;
  list-style: none;
  padding: 0;
}

.chat-item {
  padding: 10px;
  font-weight: bold;
}

.chat-item:hover {
  background-color: #e0e0e0;
}

.chat-item:focus {
  background-color: cornflowerblue;
  color: white;
}

.message-area {
  flex: 1 1 auto;
  background-color: #daeaf1;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-flow: column;
}

.message-list {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-y: scroll;
  flex: 1 1 auto;
}

.message {
  background-color: white;
  width: fit-content;
  max-width: 400px;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  margin: 10px;
}

.message-sender {
  color: blue;
  font-weight: bold;
  margin: 5px;
}

.message-text {
  margin: 5px;
  overflow-wrap: break-word;
}

.message-senton {
  font-size: 15px;
  color: grey;
  text-align: right;
}

input {
  font-size: 18px;
  margin: 5px;
  height: 1.5em;
}

.input-field {
  flex: 1 1 auto;
}

.send-button {
  margin: 5px;
  font-size: 18px;
  border-radius: 5px;
  background-color: cornflowerblue;
  color: white;
  flex: 0 1 auto; 
}

.input-area {
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
}

.login-form {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color:#daeaf1;
}

.login-label {
  margin-left: 10px;
}

.login-input {
  margin-bottom: 10px;
}

.login-button {
  margin: 5px;
  font-size: 18px;
  border-radius: 3px;
  background-color: cornflowerblue;
  color: white;
}

.signup-text {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.login-error-text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  color: red;
  font-weight: bold;
}