* {
  box-sizing: border-box;
}

body {
  font: 18px "Century Gothic", Futura, sans-serif;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

svg {
  vertical-align: text-top;
}

#root {
  height: 100vh;
}

.page-not-found {
  font-size: 30px;
  font-weight: bold;
}

.chat-page {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.chat-area {
  flex: 0 1 auto;
  width: 20%;
  min-width: 250px;
  float: left;
  margin: 0;
  padding: 0;
  border-right: 1px solid rgb(200, 200, 200);
  display: flex;
  flex-direction: column;
}

.chat-list {
  margin: 0;
  padding: 0;
}

.chat-item, .active-chat-item {
  cursor: pointer;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.chat-item:hover {
  background-color: #e0e0e0;
}

.active-chat-item {
  background-color: cornflowerblue;
  color: white;
}

.chat-profile-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.chat-summary {
  margin-left: 10px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.chat-name-and-date {
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.chat-name {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-last-message-sent-on {
  font-size: 16px;
  white-space: nowrap;
}

.last-message-and-unread-count {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.last-message {
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.friend-button {
  margin-top: auto;
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.friend-label {
  min-height: 22px;
}

.friend-request-count {
  margin-left: auto;
  padding-left: 5px;
  padding-right: 5px;
  min-width: 22px;
  min-height: 22px;
  border-radius: 1000px;
  background-color: cornflowerblue;
  color: white;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile-button {
  padding: 10px;
  cursor: pointer;
}

.message-area {
  flex: 1 1 auto;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.chat-header {
  padding: 10px;
  padding-left: 20px;
  cursor: pointer;
}

.chat-header-name {
  font-weight: bold;
}

.chat-header-members {
  font-size: 16px;
  color: gray;
}

.message-list {
  background-color: #daeaf1;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  scroll-behavior: auto;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.message {
  padding: 0;
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.message-profile-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px
}

.message-bubble {
  background-color: white;
  width: fit-content;
  max-width: 400px;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.message-sender {
  color: blue;
  font-weight: bold;
  margin: 5px;
}

.message-text {
  margin: 5px;
  overflow-wrap: break-word;
}

.message-senton {
  font-size: 15px;
  color: gray;
  text-align: right;
}

.new-message-input-area, .add-friend-input-area {
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.new-message-input-area {
  background-color: #daeaf1;
}

.add-friend-input-area {
  margin-left: 10px;
  margin-right: 5px;
}

input {
  font-size: 18px;
  margin: 5px;
  height: 1.5em;
}

.input-field {
  flex: 1 1 auto;
}

.send-button {
  margin: 5px;
  font-size: 18px;
  border-radius: 5px;
  background-color: cornflowerblue;
  color: white;
  flex: 0 1 auto; 
}

.login-form {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color:#daeaf1;
}

.login-label {
  margin-left: 10px;
}

.login-input {
  margin-bottom: 10px;
}

.login-button {
  margin: 5px;
  font-size: 18px;
  border-radius: 3px;
  background-color: cornflowerblue;
  color: white;
}

.signup-text {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.login-error-text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  color: red;
  font-weight: bold;
}

.modal-background {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 30%;
  min-width: 400px;
  height: 80%;
  background-color: white;
  border-radius: 10px;
  overflow-y: auto;
}

.dialog {
  min-width: 600px;
  min-height: 200px;
  width: 40%;
  height: 25%;
  background-color: white;
  border-radius: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dialog-title {
  font-size: 22px;
  font-weight: bold;
}

.dialog-buttons {
  display: flex;
  flex-direction: row;
}

.dialog-button-yes, .dialog-button-no {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px
}

.dialog-button-no {
  background-color: cornflowerblue;
  color: white;
}

.dialog-button-no:hover {
  background-color: rgb(44, 95, 189);
}

.chat-info-name, .profile-info-name {
  font-weight: bold;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat-members-label, .friends-label {
  margin: 10px;
  margin-top: 20px;
  font-weight: bold;
}

.add-friend-info {
  margin-left: 5px;
  font-size: 16px;
}

.chat-members-icon {
  margin-right: 10px;
}

.user-list-item {
  margin: 20px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-list-item-name {
  font-weight: bold;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.friend-remove-button, .friend-request-accept-button, .friend-request-reject-button {
  color: white;
  height: fit-content;
}

.friend-remove-button {
  background-color: red;
  margin-left: auto;
  padding: 5px;
}

.friend-request-accept-button, .friend-request-reject-button {
  background-color: white;
  font-size: 28px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.friend-request-accept-button {
  color: green;
  margin-left: auto;
}

.friend-request-reject-button {
  color: red;
  margin-left: 10px;
}

.profile-info-photo-and-name {
  display: flex;
  flex-direction: row;
}

.profile-info-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
  margin-right: 20px;
}

.upload-profile-photo {
  margin: 10px;
  border-radius: 5px;
  font-size: 18px;
  background-color: cornflowerblue;
  color: white;
}